body{
    font-family: 'Ubuntu', sans-serif;
}
p{
    margin: 0;
}
h2{
    font-weight: 400;
    margin: 0;
}
.wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;    
}
.logo{
    max-width: 100%;
}
.book{
    background: #0d87ff;
    border-radius: 1px;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    padding: 6px 10px 7px;
    font-weight: 500;
    text-align: center;    
    cursor: pointer;
    border: none;
    text-decoration: none;
    outline: none;
    max-width: 100%;
}
.book2{
    display: none;
}
.banner{    
    width: 100%;  
    max-width: 901px;
    max-height: 401px;
    margin-top: 40px;
    margin-bottom: 40px;    
    align-self: center; 
      

}
.main{
    display: flex;
    flex-direction: column;
}
.title{
    color: #283544;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.desc{
    color: #AFBAC4;
    font-size: 14px;    
    width: 100%;
    display: inline-block;
    text-align: center;

}
.desc span:after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #C2CBD2;
    margin: -1px 5px 0;
    vertical-align: middle;
}
.desc-wrap{
    display: flex;
}
.duration{
    color: #AFBAC4;
    font-size: 14px;
    width: 50%;
    display: inline-block;
}
.props{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.props-item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 20px;
}
.props-item p{
    position: relative;
    padding-bottom: 8px;
    font-weight: 300;
    text-align: center;
}
.props-item h2{
    padding: 10px 0 15px;
    text-align: center;
}
.annotation-item{
    position: relative;
}   

.props-item img{
    width: 45px;
    height: 45px;
}
.props-item--second{
 border-left: rgb(210, 220, 230) 1px dashed;
 border-right: rgb(210, 220, 230) 1px dashed;
}
.annotation{
    margin-top: 40px;
    margin-bottom: 30px;
}
.annotation h2{
    padding: 10px 0 20px;
}
.annotation-item::before{ 
    content: "";
    position: absolute;
    left: -14px;
    top: 7px;
    width: 6px;
    height: 6px;
    background: #0d87ff;
}
.annotation-item{
    padding-bottom: 15px;
    font-weight: 300;
}
.link{
    background: #0d87ff;
    border-radius: 1px;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    padding: 16px 10px 16px;
    font-weight: 500;
    text-align: center;    
    cursor: pointer;
    border: none;
    text-decoration: none;
    outline: none;
    width: 60%;
    align-self: center;
    margin: 25px 0 45px;    
}

  @media (max-width: 768px) {
    .wrapper{        
        padding: 0 20px;
        
    }
    .props{
        flex-direction: column;
    }
    .props-item{
        width: 100%;
    }
    .props-item{
        border: none;
    }
    
}
@media (max-width: 600px){
    .header{
        flex-direction: column;

    }
    .logo{
        margin-bottom: 0px;
    }
    .banner{
        margin-top: 20px;
        margin-bottom: 20px; 
        
    }
    .book{
        display: none;
    }
    .book2{
        display: block;
        margin-bottom: 40px;
    }
}
    @media (max-width: 320px) {
        .wrapper{            
            padding: 0 20px;
            
        }
        .header{
            flex-direction: column;
        }        
        .link{
            width: 100%;
        }
        .logo{
            margin-bottom: 30px;
        }
  }